@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  
  --color-card: #09090b;
  --color-card-foreground: #fafafa;
  
  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;
  
  --color-primary: #fafafa;
  --color-primary-foreground: #18181b;
  
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;
  
  --radius-sm: calc(0.5rem - 4px);
  --radius-md: calc(0.5rem - 2px);
  --radius-lg: 0.5rem;
  --radius-xl: calc(0.5rem + 4px);
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-border);
  }
  html {
    color-scheme: dark;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
